doctype html
html(lang="en")
    head
        title TO DO App
        link(rel='stylesheet', href='/static/main.css')
    body 
     .container 
         h1.header TO DO Application

         block number1